html {
    background-color: #98b1d9;
}

body {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

#settings {
    position: fixed;
    left:0px;
    top:0px;
}

#timer {
    margin-left: auto;
    margin-right: auto;

    font-size: 300px;
    font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
}

#timeLeftField {
    display:flex;
    justify-content: center;
}

#minutesTensField {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color:aqua;
}

#minutesOnesField {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    color:brown;  
}

#timeFieldSemicolon {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color:blanchedalmond;
}

#secondsTensField {
font-family: "Roboto Mono", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color:blueviolet;
}

#secondsOnesField {
    color:coral;
}